@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root
{
    --cor-de-fundo: #000000;                /*Declaro as cores*/
    --branco-principal: #F6F6F6;
    --cor-botao:  #00ccfa;
    --cor-hover: #d57c16;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}

*
{
    margin: 0%;        /*Reinicio a configuração do meu documento para sem Margin e sem Padding*/
    padding: 0%;
}

body

{
    /*height: 100vh;*/
    background-color: var(--cor-de-fundo);
    box-sizing: border-box;
}

.cabecalho

{
    padding: 2% 0% 0% 13%;
}


.cabecalho__menu

{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link

{
    color: var(--cor-botao);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
}

.apresentacao

{
    padding: 5% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo__titulo


{
    color: var(--branco-principal);
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}


.titulo_destaque

{
    color: var(--cor-botao);
    font-family: var(--fonte-secundaria)
}

.apresentacao__conteudo__texto

{
    color: var(--branco-principal);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    font-style: normal;
    text-align: left;
    line-height: 36px;
}

.apresentacao__das__redes

{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
    color: var(--branco-principal);
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo

{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__botoes

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__botoes__navegacao

{
    display: flex;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    width: 50%;
    border-radius: 8px;
    padding: 21.5px 0;
    color: var(--branco-principal);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-botao)
}

.apresentacao__botoes__config:hover

{
    background-color: var(--cor-hover)
}


.apresentacao_imagem
{
    width: 50%;
}

.rodape

{
    color: var(--cor-de-fundo);
    background-color: var(--cor-botao);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    
}

.container

{
    color: var(--branco-principal);
    margin: 0% 0% 15% 0%;
    
}

.container__cursos

{
    text-decoration: none;
    color: var(--cor-botao);
}

.apresentacao__conteudo__curriculo


{
    margin-top: 7%;
    font-family:  'Montserrat', sans-serif;
    font-size: 1.5rem;


}


.container__experiencia

{
    margin-top: 15%;
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    
}

.container__estudos

{
    margin-top: 15%;
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    
}

.imagem_luis


{
    margin-bottom: 10%; 
    margin-right: 10%;
}

.texto

{
    color: var(--branco-principal);
}


@media (max-width:1200px)



{
    
    .cabecalho

    {
        padding: 10%;
    }

    .cabecalho__menu

    {
        justify-content: center;
    }


    .apresentacao
    {
        flex-direction: column-reverse;
        padding: 5%;
    }


    .apresentacao__conteudo
    {
        width: auto;
    }




}
